@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #060a15;
  color: #c3d1f3;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  color: #eb3b5a;
  margin-bottom: 20px;
}

p {
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.blur {
  filter: blur(3px);
}

header {
  position: fixed;
  background: linear-gradient(
      90deg,
      rgba(235, 59, 91, 0.05),
      rgba(255, 255, 255, 0)
    ),
    #060a15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 70px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 4;
  box-sizing: border-box;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  color: #3bebca;
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

header ul li:hover {
  color: #eb3b5a;
  cursor: pointer;
}

#menu-btn div {
  position: relative;
  display: none;
  background: #c3d1f3;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  border-radius: 5px;
  z-index: 10;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

.brand {
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  font-weight: 600;
  color: #3bebca;
  text-shadow: 3px 1px #eb3b5a;
  z-index: 10;
}

#intro {
  background: #060a15;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  animation: slide-in-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  70% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

#logo path {
  color: #eb3b5a;
  stroke-dasharray: 450px;
  stroke-dashoffset: 450px;
  animation: line-anim 2.5s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

#home {
  background: url("../img/mm.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  transition: 0.3s all ease-in-out;
  animation: m-show 2.5s ease forwards 3.3s;
}

@keyframes m-show {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.show h6 {
  color: #3bebca;
  color: #eb3b5a;
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
}

.show h1 {
  color: #3bebca;
  text-shadow: 5px 1px #eb3b5a;
  font-size: 9em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s all ease-in-out;
  animation: slide-in-h1 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 4.5s;
}

@keyframes slide-in-h1 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.show h3 {
  margin: 0 0 10px;
  font-size: 4em;
  line-height: 100%;
  animation: slide-down-h2 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 4.9s;
}

@keyframes slide-down-h2 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.show p {
  width: 60%;
  animation: slide-down-p 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5.4s;
}

@keyframes slide-down-p {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact {
  display: flex;
  margin-top: 50px;
}

.contact a img {
  width: 30px;
}

.contact a {
  background: rgba(234, 61, 92, 0.1);
  color: #eb3b5a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 10px;
  border-radius: 50px;
  /* font-family: "Roboto Mono", monospace; */
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s all ease-in-out;
  animation: slide-down-a 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5.5s;
}

@keyframes slide-down-a {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact a:hover {
  border-radius: 0;
}

.contact a:nth-child(1) {
  animation-delay: 5.65s;
}

.contact a:nth-child(2) {
  animation-delay: 5.8s;
}

.contact a:nth-child(3) {
  animation-delay: 5.95s;
}

.contact a:nth-child(4) {
  animation-delay: 5.95s;
}

.scroll-down {
  color: #3bebca;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(100vh - 60px);
  transform: rotate(90deg);
  font-size: 2em;
  font-weight: 600;
  z-index: 1000;
  /* animation: scroll-down-show 1s ease-in-out 7s; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: scroll-down 2s ease-in-out infinite;
}

@keyframes scroll-down {

  0% {
    transform: rotate(90deg) translateX(0px);
  }
  80% {
    transform: rotate(90deg) translateX(0px);
  }
  90% {
    transform: rotate(90deg) translateX(-50px);
  }
  100% {
    transform: rotate(90deg) translateX(0);
  }
}

@keyframes scroll-down-show {
  0% {
    opacity: 0;
    transform:translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg) translateY(0);
  }
}

/* ==================================================== */
/* About me
/* ==================================================== */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

#about p {
  text-align: center;
}

.owl-carousel {
  display: flex;
  flex-wrap: wrap;
}

.owl-carousel div img {
  width: 50px;
  filter: grayscale();
}

.owl-carousel div img:hover {
  transform: scale(1.1);
  filter: none;
}

/* ==================================================== */
/* Blog post
/* ==================================================== */

#recent-blog-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.blog-section {
  display: flex;
  justify-content: space-between;
}

.blog-card {
  position: relative;
  background: rgba(255, 255, 255, 0.03);
  height: 400px;
  width: 32%;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
}

.blog-card:hover{
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.blog-card .blog-card-img {
  width: 100%;
  height: 180px;
  overflow-y: hidden;
  padding: 0;
}

.blog-card img {
  width: 100%;
}

.blog-card hr {
  margin: 10px 0;
  border: 0.5px solid #eb3b5a;
}

.blog-card div {
  padding: 15px 20px 0px;
}

.blog-card div span {
  color: rgba(195, 209, 243, 0.5);
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
}

.blog-card div h2 {
  /* color: #3bebca; */
}

.blog-card div p {
  font-size: 16px;
}

.blog-card .blog-card-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog-card-footer button {
  background: rgba(234, 61, 92, 0.1);
  background: rgba(195, 209, 243, 0.1);
  color: #eb3b5a;
  color: #3bebca;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 7px 15px;
  border-radius: 5px;
  text-transform: uppercase;
}

.blog-card .blog-card-footer span {
  font-size: 14px;
}

/* ==================================================== */
/* Media query */
/* ==================================================== */

@media only screen and (max-width: 768px) {
  header {
    height: 60px;
  }

  #home {
    background: url("../img/mm.jpg") no-repeat -1000px -50px;
    background-attachment: fixed;
  }

  .show h3 {
    margin: 0 0 5px;
    font-size: 3em;
  }

  header nav {
    display: block;
    position: absolute;
    background: rgba(235, 59, 91, 0.95);
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100vw - 60px);
    z-index: 9;
    opacity: 0.8;
    border-radius: 0 500px;
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);
  }

  .mobile-header nav {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0);
  }

  header ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  header ul li {
    margin: 20px 0;
    font-size: 30px;
  }

  #menu-btn div {
    background: #3bebca;
    transition: 0.3s;
  }

  header #menu-btn div:nth-child(2) {
    height: 4px;
  }

  .mobile-header #menu-btn div:nth-child(1) {
    height: 4px;
    transform: rotate(45deg) translate(7px, 7px);
  }
  
  .mobile-header #menu-btn div:nth-child(2) {
    opacity: 0;
  }
  
  .mobile-header #menu-btn div:nth-child(3) {
    height: 4px;
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .mobile-header ul li {
    transition: 1s all ease-in-out;
    animation: slide-in-nav-links 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-nav-links {
    60% {
      transform: translateX(1000px);
      opacity: 0;
    }
    90% {
      transform: translateX(-5px);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .mobile-header ul li:nth-child(2) {
    animation-delay: 0.05s;
  }
  .mobile-header ul li:nth-child(3) {
    animation-delay: 0.1s;
  }
  .mobile-header ul li:nth-child(4) {
    animation-delay: 0.150s;
  }
  .mobile-header ul li:nth-child(5) {
    animation-delay: 0.2s;
  }

  #intro {
    transition: 0.2s all ease-in-out;
    animation: slide-in-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-bottom {
    60% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  #logo {
    width: 50%;
  }

  .show h1 {
    font-size: 5em;
  }

  .show h2 {
    font-size: 2rem;
  }

  .show p {
    width: 100%;
  }

  .about-cont {
    flex-direction: column;
    padding: 20px;
  }

  .about-cont img {
    width: 100%;
    height: inherit;
    margin: 0 0 20px;
  }

  #menu-btn div {
    display: block;
  }

/* ==================================================== */
/* Blog post
/* ==================================================== */
.blog-section {
  flex-direction: column;
  justify-content: center ;
}

.blog-card{
  width: 100%;
  margin: 0 0 20px;
}


}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0 20px;
    width: 100%;
  }

  .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .show h2,
  .show h1,
  .show h6,
  .show p {
    width: 100%;
  }
}
