@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
     --primary-color: #3867d6;
     --secondary-color: #26de81;
     --text-color: #ebf0fb;

     --shadow1: 0px 3px 9px #060a15;

     --container-width: 600px;

     scroll-behavior: smooth;
}

* {
     padding: 0;
     margin: 0;
     border: 0;
     outline: none;
     color: var(--text-color);
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

h1 {
     font-size: 3rem;
     line-height: 1;
}

h2 {
     font-size: 2rem;
     line-height: 1.3;
}

h3 {
     font-size: 1.5rem;
}

h4 {
     font-size: 1.25rem;
}

h5 {
     font-size: 1.125rem;
}

h6 {
     font-size: 1rem;
}

p {
     line-height: 1.5;
}

body {
     background: #060a15;
}

main {
     position: relative;
     width: var(--container-width);
     min-height: 100vh;
     margin: 0 auto;
}

section {
     min-height: 100vh;
     padding: 2rem 1.5rem;
}

.section-title {
     text-align: center;
     margin: 0.5em 0;
}

.section-desc{
     font-size: 0.87rem;
     width: 90%;
     margin: 0 auto;
     text-align: center;
}

#home {
     background: url("../img/mm.jpg") no-repeat center;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#home h1{
     color: var(--text-color);
     margin: 1.5rem 0 2rem;
}

#projects .section-title{
     margin-bottom: 1.5em;
}

#projects article{
     margin-bottom: 5rem;
}

#projects .image {
     background-color: #d7e1f7;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: var(--container-width);
     height: calc(600px / 1.77);
     border-radius: 0.5rem;
     margin-bottom: 1rem;
}

#projects .name {
     /* color: var(--secondary-color); */
     margin-bottom: 0.5rem;
}

#projects .description {
     /* margin-bottom: 1rem; */
}

#projects .tools {
     display: flex;
     font-size: 0.75rem;
     margin: 0.5rem 0;
     list-style: none;
}

#projects .tools li {
     margin-right: 1rem;
     color: #afc2ef;
}

#projects .links{
     display: flex;
     margin-top: 1rem;
}

#projects .links a{
     background: #082c1a;
     color: var(--secondary-color);
     display: flex;
     align-items: center;
     width: max-content;
     font-size: 0.87rem;
     margin-right: 1rem;
     padding: 0.25rem 0.5rem;
     border-radius: 0.25rem;
     text-decoration: none;
}

#projects .links svg {
     width: 1.25rem;
     stroke: var(--secondary-color);
     margin-left: 0.5rem;
     stroke-width: 2rem;
}

#contact .btn-group {
     margin-top: 3rem;
}

#contact .btn-group a{
     display: flex;
     align-items: center;
     background: hsl(225, 100%, 8%);
     height: 50px;
     width: 100%;
     border-radius: 0.5rem;
     margin-bottom: 1.5rem;
     padding:  0 1rem;
     text-decoration: none;
}

#contact svg{
     width: 1.75rem;
     stroke: var(--secondary-color);
     fill: var(--secondary-color);
     margin-right: 1.5rem;
     stroke-width: 2rem;
}

.tabs-container {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     padding: 0.5rem 1rem;
}

.tabs {
     background: #3867d6;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     height: 50px;
     width: var(--container-width);
     border-radius: 0.5rem;
     margin: 0 auto;
     box-shadow: 0px 10px 15px -5px rgba(6, 10, 21, 0.5);
}

.tabs a {
     display: flex;
     flex-direction: column;
     color: var(--primary-color);
     text-decoration: none;
}

.tabs a svg{
     width: 1.5rem;
     stroke: #ebf0fb;
     stroke-width: 3rem;
}

@media only screen and (max-width: 600px) {
     :root {
          --container-width: 100%;
     }

     #projects .image {
          height: calc((100vw - 3rem) / 1.77);
     }
}
