.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 2rem;
  align-items: center;

  .but {
    width: 100%;
  }
}

.back-but {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 3rem;
  padding: 1rem;
  cursor: pointer;

  svg {
    background-color: var(--color-lgt-1);
    margin-right: 2rem;
  }
}
