.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}