.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 2rem;
}

.card {
  background: var(--color-lgt-1);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2rem;
}