.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem;
}

.card {
  background: var(--color-lgt-1);
  display: flex;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;

  img{
    height: 2rem;
    width: 2rem;
  }
}

.card-text {
  background-color: var(--color-lgt-1);
  display: flex;
  align-items: center;
  font-size: 1rem;
}
