:root {
     --primary-color: #3867d6;
     --text-color: #ebf0fb;

     --shadow1: 0px 3px 9px #060a15;

     --container-width: 600px;

     scroll-behavior: smooth;
}

* {
     padding: 0;
     margin: 0;
     border: 0;
     outline: none;
     color: var(--text-color);
     box-sizing: border-box;
     font-family: -apple-system, "Helvetica Neue", sans-serif;
}

h1 {
     font-size: 3rem;
     line-height: 1;
}

h2 {
     font-size: 2rem;
     line-height: 1.3;
}

h3 {
     font-size: 1.5rem;
}

h4 {
     font-size: 1.25rem;
}

h5 {
     font-size: 1.125rem;
}

h6 {
     font-size: 1rem;
}

p {
     line-height: 1.5;
}

body {
     background: #060a15;
}

main {
     position: relative;
     width: var(--container-width);
     min-height: 100vh;
     margin: 0 auto;
}

section {
     min-height: 100vh;
     padding: 2rem 1.5rem;
}

.section-title {
     text-align: center;
     margin: 0.5em 0;
}

#home {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#home h1{
     color: #afc2ef;
     margin: 1rem 0 1rem;
}

#projects article{
     margin-bottom: 5rem;
}

#projects .image {
     background-color: #d7e1f7;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: var(--container-width);
     height: calc(600px / 1.77);
     border-radius: 0.5rem;
     margin-bottom: 1rem;
}

#projects .name {
     margin-bottom: 0.5rem;
}

#projects .description {
     /* margin-bottom: 1rem; */
}

#projects .tools {
     display: flex;
     font-size: 0.75rem;
     margin: 0.5rem 0;
     list-style: none;
}

#projects .tools li {
     margin-right: 1rem;
     color: #afc2ef;
}

.tabs-container {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     padding: 0.5rem 1rem;
}

.tabs {
     background: #0b152b;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     height: 50px;
     width: var(--container-width);
     border-radius: 0.5rem;
     margin: 0 auto;
     box-shadow: 0px 10px 15px -5px rgba(6, 10, 21, 0.5);
}

.tabs a {
     display: flex;
     flex-direction: column;
     color: var(--primary-color);
     text-decoration: none;
     font-weight: 500;
}

@media only screen and (max-width: 600px) {
     :root {
          --container-width: 100%;
     }

     #projects .image {
          height: calc((100vw - 3rem) / 1.77);
     }
}
