#loader {
  background-color: var(--pri-color-1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 60;
  width: 100vw;
  height: 100vh;
  animation: spin 2s ease-in-out;
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
