<section>
  <div class="container">
    <h2 class="section-title"><span class="fs-ind">~/</span>contact</h2>
  </div>

  <section class="sub-section container">
    <p>You can reach out to me via Email. I’m not really active on Linkedin but you can stay in touch with me on Twitter where I post my works. I make goofy videos on TicTok but if you want something serious you can check my GitHub and Blog.</p>

    <div class="links">
      <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
        href="https://www.linkedin.com/in/onyegbu-ifedili/">Email</a>
      <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
        href="https://github.com/saucecodee">GitHub</a>
      <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
        href="https://www.linkedin.com/in/onyegbu-ifedili/">LinkedIn</a>
      <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
        href="https://blog.ifedili.com">Blog</a>
      <a class="link-outline" title="Twitter" target="_blank" rel="noopener"
        href="https://twitter.com/saucecodee">Twitter</a>
      <a class="link-outline" title="Twitter" target="_blank" rel="noopener"
        href="https://twitter.com/saucecodee">Youtube</a>
      <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
        href="https://www.linkedin.com/in/onyegbu-ifedili/">Instagram</a>
      <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
        href="https://www.linkedin.com/in/onyegbu-ifedili/">TicTok</a>
    </div>

  </section>