p{
  margin-bottom: 4rem;
  max-width: 700px;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 5rem;
  max-width: 500px;

  a.link-outline {
    display: block;
    font-size: 1.5rem;
    margin-right: 0;
  }
}
