<section>
  <div class="container">
    <h2 class="section-title"><span class="fs-ind">~/</span>contact</h2>
  </div>

  
  <section class="sub-section container">
    <p>You can reach out to me via Email. I’m not really active on Linkedin but you can stay in touch with me on
      Twitter where I post my works. I make goofy videos on TicTok but if you want something serious you can check my
      GitHub and Blog.</p>
    <div class="content-container">
      <div>
        <a class="but" title="Send an email" href="mailto:onyegbuifedili@gmail.com">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
              fill="var(--pri-color-1)" />
          </svg>
          <span>Send an email</span>
        </a>
      </div>

      <div class="links">
        <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
          href="https://github.com/saucecodee">GitHub</a>
        <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener"
          href="https://www.linkedin.com/in/onyegbu-ifedili/">LinkedIn</a>
        <a class="link-outline" title="Twitter" target="_blank" rel="noopener"
          href="https://twitter.com/saucecodee">Twitter</a>
        <a class="link-outline" title="Blog" target="_blank" rel="noopener" href="https://blog.ifedili.com">Blog</a>
        <a class="link-outline" title="Instagram" target="_blank" rel="noopener"
          href="https://www.instagram.com/saucecodee">Instagram</a>
        <!-- <a class="link-outline" title="Youtube" target="_blank" rel="noopener"
          href="https://twitter.com/saucecodee">Youtube</a> -->
        <a class="link-outline" title="TikTok" target="_blank" rel="noopener"
          href="https://www.tiktok.com/@saucecodee">TikTok</a>
      </div>
    </div>

  </section>