#menu-container {
  display: flex;
  place-items: center;
  background-color: var(--pri-color-1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: roll-up 0.3s ease-out;
}

#menu-container .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.menu-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.nav-link {
  display: inline;
  width: auto;
  text-align: right;
  opacity: 0;
  animation: roll-up 0.3s ease-out forwards;
}

.nav-link:nth-child(1) {
  animation-delay: 0.3s;
}
.nav-link:nth-child(2) {
  animation-delay: 0.5s;
}
.nav-link:nth-child(3) {
  animation-delay: 0.7s;
}
.nav-link:nth-child(4) {
  animation-delay: 0.9s;
}