<section>
  <div class="container">
    <h2 class="section-title"><span class="fs-ind">~/</span>404</h2>
  </div>
  <section class="sub-section container">
    <h1>Page not found!</h1>
    <p>- You must have entered a wrong url, or maybe it's just a little bug 🤭</p>

    <a class="but" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
        <path fill="none" d="M0 0h24v24H0z" />
        <path
          d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z"
          fill="var(--pri-color-1)" />
      </svg>
      <span>Go Home</span>
    </a>
  </section>
</section>