@import url("./variable.scss");
@import url("./global.scss");

@import url("./button.scss");
@import url("./card.scss");
@import url("./decoration.scss");
@import url("./list.scss");
@import url("./menu.scss");
@import url("./tab.scss");
@import url("./text.scss");
@import url("./preloader.scss");

* {
  box-sizing: border-box;
  color: var(--txt-drk-1);
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: var(--font-2);
  box-sizing: border-box;
  /* outline: 2px solid pink; */
}

html {
  position: relative;
  font-family: var(--font-2);
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='1.5rem' width='600px'><text x='0' y='24' fill='ghostwhite' font-size='1.5rem'>10010101011001101010010101001010110101010110101010100100011010110100101</text></svg>");
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 7rem;
}

ul,
li {
  list-style: none;
}

section {
  padding: 5rem 0;
}

/* -------------------------------------------------------------------------- */
/* Scroll bar                                                                */
/* -------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  /* display: none; */
  width: 8px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 0;
  padding: 10px;
  background: #c8defb;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7ba7ff;
  border-radius: 1rem;
  height: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
