.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.tab {
  color: var(--pri-color-1);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
}

.tab.active {
  color: white;
  background: var(--pri-color-1);
}
