a{
  text-decoration: none;
}

p{
  color: #333333;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.section-title {
  position: relative;
  font-family: var(--font-1);
  font-style: normal;
  font-weight: 800;
  font-size: 6rem;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 6rem;
  color: var(--color-lgt-1);
  -webkit-text-stroke: 0.25rem var(--color-drk-1);
}

.sub-section-title {
  position: relative;
  font-family: var(--font-1);
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 100%;
  margin-bottom: 2rem;
}

.hero-title::before {
  position: absolute;
  content: "Ifedili";
  left: 0.25rem;
  top: 0.25rem;
  color: #ebf0fb;
  -webkit-text-stroke: 1px var(--pri-color-1);
  width: 100%;
  z-index: -1;
}

.sub-title {
  display: flex;
  align-items: center;
  font-family: var(--font-1);
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.sub-title::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2px;
  margin-right: 0.5rem;
  background: var(--pri-color-1);
}

.link-outline {
  position: relative;
  font-family: var(--font-1);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 100%;
  margin-right: 1rem;
  letter-spacing: 1px;
  color: var(--color-lgt-1);
  -webkit-text-stroke: 1px var(--pri-color-1);
}

.nav-link {
  font-size: 5rem;
  letter-spacing: 4px;
  margin-top: 1rem;
  color: transparent;
  -webkit-text-stroke: 0.25rem var(--color-lgt-1);
  cursor: pointer;
}

.nav-link.active,
.nav-link:hover {
  color: var(--color-lgt-1);
}