@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Oxanium:wght@500;600;700&display=swap");

:root {
  --font-1: "Oxanium", cursive;
  --font-2: "Kumbh Sans", sans-serif;

  --color-drk-1: #1a1a1a;
  --color-drk-2: #4d4d4d;
  --color-drk-3: #808080;
  --color-drk-4: #b3b3b3;
  --color-drk-5: #e6e6e6;

  --color-lgt-1: #fcfcfc;
  --color-lgt-2: #f0f0f0;

  --bg-color-1: linear-gradient(180deg, #ffffff 0%, #fcfcfc 100%);

  --pri-color-1: #256eff;
  --pri-color-2: #669aff;
  --pri-color-3: #92b7ff;
  --pri-color-4: #d3e2ff;
  --pri-color-5: #e9f1ff;
}
