@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Oxanium:wght@500;600;700&display=swap");

:root {
  --font-1: "Oxanium", cursive;
  --font-2: "Kumbh Sans", sans-serif;

  --txt-drk-1: #333333;

  --pri-color-1: #256eff;
}
