<section>
  <div class="container">
    <h2 class="section-title"><span class="fs-ind">~/</span>about-me</h2>
  </div>

  <section class="sub-section container bio">
    <div class="content-left">
      <h2 class="sub-section-title">Hello world;</h2>
      <p>Hi, I’m Ifedili Onyegbu, Interactive Developer based in Paris and currently working as a freelancer.</p>
      <p>After several years as Technical Director and Developer I craved to reconnect with craftsmanship, to make
        beautiful objects carefully designed, carefully developed.</p>
      <p>I started my career as an Art Director in Brazil and had the opportunity to work for the likes of Isobar
        Brazil, DDB Brazil, R/GA Sydney and VML Sydney. I've designed products for The Iconic, Telstra, Air New
        Zealand, Commonwealth Bank of Australia to name a few.</p>
      <p>I’m a developer with taste for design, animation and big typography :)</p>
      <span class="sec-close-bracket">}</span>
    </div>
    <div class="content-right">
      <img src="./../../../assets/IMG_1055.jpg" alt="">
    </div>
  </section>

  <section class="sub-section container">blog, resume and social media link here</section>

  <section class="sub-section container">
    <h2 class="sub-section-title">Skills and Tools</h2>
    <div class="tabs">
      <span class="tab active">All</span>
      <span class="tab">Languages</span>
      <span class="tab">Web</span>
      <span class="tab">Mobile</span>
      <span class="tab">Blockchain</span>
      <span class="tab">Design</span>
      <span class="tab">Others</span>
    </div>
    <app-skills></app-skills>
    <span class="sec-close-bracket">}</span>
  </section>

  <section class="sub-section container">
    <h2 class="sub-section-title">Experience</h2>
    <app-experiences></app-experiences>
    <span class="sec-close-bracket">}</span>
  </section>

  <section class="sub-section container">
    <h2 class="sub-section-title">Achievements & Features</h2>
    <div class="tabs">
      <span class="tab active">All</span>
      <span class="tab">Awards</span>
      <span class="tab">Talks</span>
    </div>
    <app-achievements></app-achievements>
    <span class="sec-close-bracket">}</span>
  </section>
</section>