.bio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 10rem;
}

.bio .content-right img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 0.25rem;
}

.bio .content-left {
  padding-top: 3rem;
}

.bio .content-left p {
  margin-bottom: 1.5rem;
}

@media (max-width: 480px) {
  .bio .content-left {
    padding-bottom: 3rem;
    padding-top: 0rem;
  }
}
