<header>
  <h1 class="h-title">Components</h1>
</header>


<div class="grid">

  <!-- Normal title  -->
  <div class="grid-e">
    <h2 class="title">Gallery</h2>
  </div>

  <!-- Hero title  -->
  <div class="grid-e">
    <h2 class="title hero-title">Ifedili</h2>
  </div>

  <!-- Pattern dots -->
  <div class="grid-e">
    <div class="pattern-dot"></div>
  </div>

  <!-- Pattern box  -->
  <div class="grid-e">
    <div class="pattern-box"></div>
  </div>

  <!-- Normal button  -->
  <div class="grid-e">
    <button class="but">
      <span>Button test</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="#3867d6" />
      </svg>
    </button>
  </div>

  <!-- Stroke button  -->
  <div class="grid-e">
    <button class="but but-border">
      <span>Contact me</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="#3867d6" />
      </svg>
    </button>
  </div>

  <!-- Menu button  -->
  <div class="grid-e">
    <div class="menu-btn">
      <span class="menu-text">MENU</span>
      <div class="hamburger" onclick="showMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <!-- Menu button close -->
  <div class="grid-e">
    <div class="menu-btn close">
      <span class="menu-text">CLOSE</span>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <!-- Sub title  -->
  <div class="grid-e">
    <h3 class="sub-title">FEATURED STUFF</h3>
  </div>

  <!-- Timeline  -->
  <div class="grid-e">
    <ul class="timeline">
      <li class="timeline-item">
        <h4>Genesys Techub</h4>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </li>
      <li class="timeline-item">
        <h4>Genesys Techub</h4>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </li>
    </ul>
  </div>

  <!-- Tabs  -->
  <div class="grid-e">
    <div class="tabs">
      <span class="tab active">All</span>
      <span class="tab">White</span>
      <span class="tab">Black</span>
    </div>
  </div>

  <!-- Button type 2  -->
  <div class="grid-e">
    <a class="but-1">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
            fill="#3867d6" />
        </svg>
      </div>
      <span>Twitter</span>
    </a>
  </div>
</div>

<div id="menu" onclick="exitMenu()">
  <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatum repellendus cumque quisquam
    voluptate? Nulla ducimus atque illum dignissimos impedit iste harum repellat maxime quis voluptate,
    perspiciatis maiores quisquam, necessitatibus sunt quia, sequi vitae? Iure quos vel repudiandae placeat
    enim aliquam veritatis dolor quisquam, quibusdam distinctio eligendi sunt qui ad voluptas, unde ut
    dolorum. Recusandae dicta nulla aperiam a incidunt eius molestias! Consectetur assumenda sequi odit rem
    aut dicta, nulla qui voluptate. Enim quis natus officia autem optio distinctio. Cumque officiis, in illo
    laboriosam voluptas rem alias veritatis voluptatem eligendi, exercitationem nulla labore molestias earum
    obcaecati minus ipsum aut enim.</h1>
</div>