<section>
  <div class="container">
    <h2 class="section-title">Let's work<br>together!</h2>

    <p>You have an awesome idea you want to work on? Feel free to contact me</p>

    <div class="footer">
      <div class="footer-socials">
        <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener" href="https://github.com/saucecodee">GitHub</a>
        <a class="link-outline" title="Twitter" target="_blank" rel="noopener" href="https://twitter.com/saucecodee">Twitter</a>
        <a class="link-outline" title="LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/onyegbu-ifedili/">LinkedIn</a>
      </div>

      <div>© Ifedili Onyegbu 2021</div>
    </div>
  </div>
</section>