<div class="card-container">
  <div class="card" *ngFor="let item of list">
    <div class="card-body">

    </div>
    <div class="card-footer">
      <div class="left-card-footer">
        <h2 class="project-title">Montero App</h2>
        <p class="project-type">Banking and Finance</p>
      </div>
      <div class="right-card-footer">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.258 10.4572L10.212 2.18154L12.333 0L24 12L12.333 24L10.212 21.8185L18.258 13.5428H0V10.4572H18.258Z"
            fill="var(--pri-color-1)" />
        </svg>
      </div>
    </div>
  </div>
</div>