<div class="card-container">
  <div [routerLink]="['/projects', item.id]" class="card" *ngFor="let item of list">
    <div class="img-container" *ngIf="item.category == 'Project'">
      <img src="./../../../../assets/{{item.cover_image}}" class="card-img" alt="{{item.name}}">
    </div>
    <div class="card-footer">
      <div class="left-card-footer">
        <h2 class="project-title">{{item.name}}</h2>
        <p class="project-type">{{item.short_desc}}</p>
      </div>
    </div>
  </div>
</div>