.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 4rem;
}

.card {
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.card:hover {
  transform: translateY(-1.5rem) rotate(-1deg);
}

.card:hover > .card-footer::after{
 width: 100%;
}

.card-body {
  background: var(--color-drk-5);
  height: 400px;
}

.card-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.card-footer::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: var(--pri-color-1);
  transition: 0.3s ease-out;
}

.project-title {
  font-family: var(--font-1);
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
