<section class="hero">
  <div class="container">
    <div class="hero-left">
      <p class="greeting">Yo! <span class="peace">✌🏽</span>, I’m <b>Ifedili Onyegbu</b></p>
      <h2 class="hero-title">Software Engineer;</h2>
      <p class="sub-hero-title">I’m a Software Engineer currently based in Nigeria with 4+ years of professional
        experience in ideating, designing, building and delivering end to end solutions for digital products.</p>
    </div>
    <div class="hero-right">
      <img src="./../../../assets/IMG_0983.jpg" alt="Ifedili's image">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p class="tag-line">I make <span>sauce</span>, but not in the kitchen 👨🏽‍🍳</p>
  </div>
</section>


<section>
  <div class="container">
    <h2 class="sub-section-title">Projects</h2><br>
    <div class="card-container">
      <app-featured-project [isFeatured]="true"></app-featured-project>
      <button routerLink="/projects" class="but project-but">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
          <path fill="none" d="M0 0H24V24H0z" />
          <path
            d="M16 2v2h-1v3.243c0 1.158.251 2.301.736 3.352l4.282 9.276c.347.753.018 1.644-.734 1.99-.197.092-.411.139-.628.139H5.344c-.828 0-1.5-.672-1.5-1.5 0-.217.047-.432.138-.629l4.282-9.276C8.749 9.545 9 8.401 9 7.243V4H8V2h8zm-2.612 8.001h-2.776c-.104.363-.23.721-.374 1.071l-.158.361L6.125 20h11.749l-3.954-8.567c-.214-.464-.392-.943-.532-1.432zM11 7.243c0 .253-.01.506-.029.758h2.058c-.01-.121-.016-.242-.021-.364L13 7.243V4h-2v3.243z"
            fill="var(--pri-color-1)" />
        </svg>
        <span>See more projects</span>
      </button>
      <span class="sec-close-bracket">}</span>
    </div>
  </div>
</section>