<section class="hero">
  <div class="container">
    <div class="hero-left">
      <p class="greeting">Yo! <span class="peace">✌🏽</span>, I’m <b>Ifedili Onyegbu</b></p>
      <h2 class="hero-title">Software Engineer;</h2>
      <p class="sub-hero-title">I’m a Software Engineer based in Enugu, Nigeria with 4+ years of experience in
        delivering end to end solutions for digital products. From ideation to execution.</p>
    </div>
    <div class="hero-right">
      <img src="./../../../assets/IMG_0983.jpg" alt="">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p class="tag-line">I make <span>sauce</span>, but not in the kitchen 👨🏽‍🍳</p>
  </div>
</section>


<section>
  <div class="container">
    <h2 class="sub-section-title">Featured projects</h2><br>
    <div class="card-container">
      <app-featured-project></app-featured-project>
      <button routerLink="/projects" class="but project-but">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="var(--pri-color-1)" />
        </svg>
        <span>See other amazing projects</span>
      </button>
      <span class="sec-close-bracket">}</span>
    </div>
  </div>
</section>