<section>
  <div class="container">
    <h2 class="section-title"><span class="fs-ind">~/</span>projects</h2>
    <div class="tabs">
      <span [ngClass]="{'active': category == 'Web'}" class="tab" (click)="switchTab('Web')">Web</span>
      <span [ngClass]="{'active': category == 'Project'}" class="tab" (click)="switchTab('Project')">Project</span>
      <span [ngClass]="{'active': category == 'Playground'}" class="tab"
        (click)="switchTab('Playground')">Playground</span>
      <span [ngClass]="{'active': category == 'Design'}" class="tab" (click)="switchTab('Design')">Designs</span>
      <span [ngClass]="{'active': category == 'Others'}" class="tab" (click)="switchTab('Others')">Others</span>
    </div>
  </div>

  <div class="container desc"> {{ projectCategories[category.toLowerCase()].desc }}</div>

  <section class="sub-section container">
    <app-featured-project [categorySubject]="categorySubject"></app-featured-project>
  </section>

</section>